.title {
  font-size: 30px;
  font-family: "Open Sans";
}
.checkOut {
  margin-top: 10px;
}

.addDokme {
  display: flex;
  align-self: center;
  /* width: 25px;
  height: 25px; */
}
.minusDokme {
  display: flex;
  align-self: center;
  /* width: 25px;
  height: 25px; */
}
