<div class="container">
    <p class="title">Shopping Cart</p>
    <p>You have {{result}} items in your shopping cart</p>
    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let item of list'>

                <td>{{item.title}}</td>
                <td>{{item.count}}</td>
                <td>{{item.price}}</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <th scope="col">{{totalPrice}}</th>

            </tr>

        </tbody>
    </table>
</div>