<div class="container">
    <p class="title">Shopping Cart</p>
    <div >
        
        <p>You have {{totalCount}} items in your shopping cart.</p>
    </div>

    <table class="table">

        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor='let item of list'>
                <td>{{item.title}}</td>
                <td class="row">
                    <button class="btn btn-primary addDokme" (click)='addOne(item)'>+</button>
                    <div style="padding: 0 10px;">{{item.count}}</div>
                    <button class="btn btn-primary minusDokme" (click)='minusOne(item)'>-</button>
                </td>
                <td>${{((item.price)*(item.count)).toFixed(2)}}</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <th scope="col">{{total| currency:'USD'}}</th>
            </tr>

            <button class="btn btn-primary checkOut" routerLink="/shipping">Check Out</button>

        </tbody>
    </table>
</div>