<div class="gallery">
    <div class="row">
        <div class="col-3" *ngFor="let movie of movies">
            <div><img routerLink="/details/{{movie.id}}" src="assets/images/{{movie.image}}"></div>

            <div (click)="clickEvent(movies.indexOf(movie))" class="fa"
                [ngClass]="{'fa-star': movie.isFavorite,'fa-star-o': !movie.isFavorite}"></div>

            <div (click)="likesCount(movies.indexOf(movie))" class="fa shast"
                [ngClass]="{'fa-thumbs-up': movie.isLiked,'fa-thumbs-o-up': !movie.isLiked}">{{" "+movie.numberOfLikes}}
            </div>
        </div>
    </div>
</div>