/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.gallery {
  margin: 10px 50px;
}

.gallery img {
  width: 100%;
  margin: 0px;
}
.shast {
  margin-left: 20px;
}
